@import "tailwindcss";

body{
    @apply bg-blue-900;
}

 /* className="p-2 m-2 border-2 rounded-md bg-gray-400 hover:bg-blue-700 text-white text-2xl text-center cursor-pointer" */

.button1{
    padding: 2px;
    margin: 2px;
    border: 2px solid black;
    background-color: gray;
}

.clickedButton{
    background-color: rgb(42, 42, 183);
}

.member p{
    color: rgb(50, 50, 180);
    font-size: 16px;
    white-space: no-wrap;
    text-align: center;
    justify-content: center;
}
/* //bg-blue-600 rounded-md text-3xl text-white m-4 p-2 border-r-2 */

.button2{
    background-color: rgb(37, 37, 181);
    border-radius: 10px;
    font-size: 18px;
    color: white;
    padding: 2px;
    margin: 4px;



}

.disable_button{
    background-color:rgb(88, 151, 223);
}

